# Super store data analysis

## Introduction
The superstore dataset contains 9800 observation of the store sales.Each observation has the following details: order id, order date, shipping date, shipping mode, customer informations like id, name, segment,countray, city, state, postal code, region, product details like id category, sub-category, name and sales.This notebook aims to investigate the last four years sales to draw a conclusions that helps in the future sales plan.

### Questions to answer
- What is the distribtion of sales by city?
- which is the most wanted category?
- The highest year in sales
- what is the most proftable segment of customers?

## Data Loading and cleaning

In [3]:
# library imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# Data Loading 
df = pd.read_csv('train.csv')
display(df.head())

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB
None

In [ ]:
# Convert 'Order Date' to datetime, day first, coerce errors
df['Order Date'] = pd.to_datetime(
    df['Order Date'],
    dayfirst=True,
    errors='coerce',
    infer_datetime_format=True
)

display(df[['Order Date']].head())
print('Order Date dtype:', df['Order Date'].dtype)
print('parse failures (NaT):', df['Order Date'].isna().sum())

/tmp/ipykernel_10034/2112864166.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Order Date'] = pd.to_datetime(

  Order Date
0 2017-11-08
1 2017-11-08
2 2017-06-12
3 2016-10-11
4 2016-10-11

Order Date dtype: datetime64[ns]
parse failures (NaT): 0

In [14]:
df['Order_Day'] = df['Order Date'].dt.day.astype('Int64')
df['Order_Month'] = df['Order Date'].dt.month.astype('Int64')
df['Order_Year'] = df['Order Date'].dt.year.astype('Int64')

display(df[['Order Date', 'Order_Day', 'Order_Month', 'Order_Year']].head())
print('parse failures (NaT):', df['Order Date'].isna().sum())

  Order Date  Order_Day  Order_Month  Order_Year
0 2017-11-08          8           11        2017
1 2017-11-08          8           11        2017
2 2017-06-12         12            6        2017
3 2016-10-11         11           10        2016
4 2016-10-11         11           10        2016

parse failures (NaT): 0